// Define variables, import functions and mixins
@use '_variables.scss' as *;
@use 'base/_functions.scss';
@use 'base/_mixins.scss';

// Import AOS (animations)
//@use '../../node_modules/aos/src/sass/aos.scss';

// Import reboot styles
@use 'base/_reboot.scss';

// Import Bootstrap core styles
@use 'base/_bootstrap.scss';

// Import typography
@use 'base/_typography.scss';

// Import component styles
@use 'components/_main.scss';
@use 'components/_home.scss';