@use '../../_variables.scss' as *;
@use '../../base/mixins' as mixins;

.project-links {
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;
    padding: 1rem 0 1.25rem 0;
    position: relative;
    transition: .4s;
    @include mixins.media-breakpoint-up(sm) {
        gap: 0;
    }
    .link {
        align-items: center;
        display: flex;
        position: relative;
        a {
            align-items: center;
            display: flex;
            font-size: .875rem;
            svg {
                transition: .4s;
            }
        }
        &._blank {
            svg {
                height: .75rem;
                margin-right: .35rem;
                width: .75rem;
            }
        }
        &._self {
            svg {
                height: .85rem;
                margin-right: .25rem;
                width: .85rem;
            }
        }
        &:hover {
            svg {
                fill: $teal;
                transition: .4s;
            }
        }
    }
}