@use '../../_variables.scss' as *;

.project-links {
    display: flex;
    flex-wrap: wrap;
    padding: 1rem 0 1.25rem 0;
    position: relative;
    transition: .4s;
    .link {
        align-items: center;
        display: flex;
        position: relative;
        a {
            display: flex;
            align-items: center;
            svg {
                transition: .4s;
            }
        }
        &._blank {
            svg {
                height: .75rem;
                margin-right: .35rem;
                width: .75rem;
            }
        }
        &._self {
            svg {
                height: .85rem;
                margin-right: .25rem;
                width: .85rem;
            }
        }
        &:hover {
            svg {
                fill: $teal;
                transition: .4s;
            }
        }
    }
}