@use '../../variables' as *;
@use '../../base/mixins' as mixins;

.menu-container {
    padding-top: 3rem;
    .menu {
        li {
            a {
                align-items: center;
                display: flex;
                position: relative;
                &:before {
                    background-color: $gray;
                    border-radius: 25px;
                    content: '';
                    height: .25rem;
                    left: 0;
                    position: relative;
                    transition: .4s;
                    width: 0;
                }
                &:hover {
                    color: $teal;
                    cursor: pointer;
                }
                &.active {
                    color: $teal;
                    position: relative;
                    transition: .4s;
                    &:before {
                        background-color: $teal;
                        border-radius: 25px;
                        content: '';
                        display: flex;
                        height: .25rem;
                        margin-right: .5rem;
                        transition: .4s;
                        width: 2rem;
                    }
                }
            }
        }
    }
}