@use '../../variables' as *;
@use '../../base/mixins' as mixins;

.section-entries {
  margin-bottom: 1rem;
  aside {
    padding: 1rem 0;
  }
}
.section-link {
  .project-links {
    font-size: 1.1rem;
    a {
      cursor: pointer;
      color: $white;
      svg {
        fill: $white;
      }
      &:hover {
        color: $teal;
        svg {
          fill: $teal;
        }
      }
    }
  }
}