@use '../../variables' as *;
@use '../../base/mixins' as mixins;

// See section-entry for .content styles
.section-entry {
  &.about,
  &.accolades {
    .entry-container {
      .accent-line {
        &:before {
          background-color: $gray;
        }
      }
    }
    .bio-card {
      position: relative;
      z-index: 2;
      img {
        align-self: flex-start;
        border: 2px solid transparent;
        border-radius: 50%;
        height: 75px;
        margin-right: .75rem;
        transition: .4s;
      }
      h3 {
        font-family: $headline;
        font-weight: $xlight;
        padding-bottom: .25rem;
      }
      .entry-subtitle {
        padding-bottom: .5rem;
      }
      .project-links {
        padding: 0;
        font-size: .85rem;
      }
    }
  }
}