@use '../../variables' as *;
@use '../../base/mixins' as mixins;

.section-entry {
  &.experience {
    position: relative;
    .entry-container {
      // Timeline
      border-left: 2px solid $gray;
      margin-left: .25rem;
      padding-left: 1.25rem;
      position: relative;
      transition: .4s;
      // Timeline dot
      &:before {
        background-color: $gray;
        border-radius: 50%;
        content: '';
        display: block;
        height: 1rem;
        left: -9px;
        position: absolute;
        transition: .4s;
        width: 1rem;
      }
      .entry-subtitle {
        font-size: .875rem;
      }
      .entry-description {
        font-size: .875rem;
      }
    }
  }
}