@use '../../variables' as *;
@use '../../base/mixins' as mixins;

.section-entry {
  &.projects {
    .entry-container {
      .project-thumbnail {
        padding-bottom: 1rem;
        padding-right: 0;
        @include mixins.media-breakpoint-up(sm) {
          flex: 100%;
          padding-bottom: 0;
          padding-right: 1rem;
        }
        img {
          align-self: flex-start;
          border: 2px solid transparent;
          height: auto;
          transition: .4s;
          width: 100%;
        }
      }
      .project-info {
        display: block;
        @include mixins.media-breakpoint-up(sm) {
          display: block;
          flex: 1 1 auto;
        }
        .entry-description {
          font-size: 1rem;
          padding-bottom: 1rem;
          @include mixins.media-breakpoint-up(md) {
            font-size: .85rem;
          }
        }
      }
      .project-links {
        padding: .75rem 0 0 0;
      }
    }
  }
}