@use '../../variables' as *;
@use '../../base/mixins' as mixins;

.section-entry {
  &.skills-and-tools,
  &.accolades {
    position: relative;
    .entry-container {
      border: none;
      margin-left: .5rem;
      padding-left: 1.25rem;
      h3 {
        padding-bottom: 1.25rem;
      }
      .skills-container {
        position: relative;
        transition: .4s;
        @include mixins.media-breakpoint-up(md) {
          left: -26px;
        }
        .skills-category {
          .entry-subtitle {
            padding-bottom: .5rem;
          }
          .project-skills {
            padding-bottom: 1.5rem;
          }
          &:last-child {
            .project-skills {
              padding-bottom: 0;
            }
          }
        }
      }
      .accent-line {
        height: 100%;
        left: 0;
        position: absolute;
        top: 1.75rem;
        transform: rotate(180deg);

        // Timeline (pseudo element so height can be adjusted)
        &:before {
          background-color: $gray;
          border-radius: unset;
          bottom: 0;
          content: '';
          display: block;
          height: calc(100% - 1.75rem); // space for icon at top
          left: -1px;
          position: absolute;
          transition: .25s;
          width: 2px;
        }
      }
      @include mixins.media-breakpoint-up(md) {
        .accent-line {
          &:before {
            background-color: transparent;
          }
        }
      }
      // Category icons
      svg.top-icon {
        fill: $gray;
        height: 1.25rem;
        left: -10px;
        position: absolute;
        top: 1px;
        transition: .4s;
        width: 1.25rem;
      }
    }
  }
}